@charset "UTF-8";


@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WONTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 후기 아무것도 없을 때 */
.result-display {
    font-family: 'WONTitle';
    color: white;
    border-radius: 5px;
    border: 1px solid #A2DBFA;
    background-color: #A2DBFA;
}

/* 후기 1개 이상 */
#container{
	margin: 20px;
	padding: 100px 50px;
	font-family : 'NEXON Lv1 Gothic OTF Bold';
}

#title{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	margin : 20px 0px;
  	padding: 5px 20px;;
	background-color: #A2DBFA;
	color: white;
	font-size: 20px;
}
#title2{
	float: right;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	font-family: 명조체;
	margin-right: 10px;
}
#title3{
	float: right;
	text-align: right;
	font-size: 12px;
	font-family: 명조체;
	margin-right: 10px;
}
/*글등록 버튼*/
#write-bt{
	clear: both;
	font-size:11pt;
	font-weight:bold;
	margin-right:10px;
	padding: 5px 10px;
	background:	#A2DBFA;
	color:white;
	border:none;
	border-radius:15%;
}
.tag{
	font-family: 'NEXON Lv2 Gothic';
	margin: 13px 0px 5px 0px;
	font-size: 17px;
	color:#39A2DB;
}
/*리스트*/
/*검색기능*/
#search_form{
	padding: 0; 
	margin: 0; 
	text-align: right; 
	width: 100%;
	border: none;
}
.search, .search2{
	padding: 0; 
	margin: 0;
}

.search4{
	height: 31px;
	clear: both;
	font-size:11pt;
	font-weight:bold;
	background:	#A2DBFA;
	color:white;
	border:none;
	border-radius:15%;
	text-align: center;
}
.card{
	margin: 20px 0;
	background-color: #f5f5f5;
	border-color: gray;
}
#afterDetail_title, #afterDetail_content{
	color: black; 
	text-decoration: none;
}
#afterDetail_title{
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: bold;
}
#afterDetail_content{
	display: block;
	font-size: 13px;
	margin: 10px;
}
#detail_card{
	padding: 0 10px 0 10px;
	background-color:none;
	border: 1px solid none;
	overflow: hidden;
}
#listID_DATE{
	font-size: 9px; 
	margin: 0 10px; 
	text-align: right; 
	display: block; 
	font-family: 명조체;
	font-weight: bold;
}
/*리스트 이미지*/
.afterpet-img{
	width:100%;
	height:235px;
	border: 1;
	object-fit: cover;
}
#content{
	font-size: 15px;
	font-family: 'NEXON Lv2 Gothic';
}
#detailTitle{
	margin: 0;
}
#detailDate{
	text-align: right;
	
}
/*수정폼*/
#after_title{
	width: 750px;
	margin-top: 5px;
	border: none;
}
#modify_form, #write_form{
	width: 800px;
}
#after_content{
	width: 750px;
	height: 300px;
	border: none; 
	resize: none;
}
#ul_border{
	margin: 0;
	padding: 0;
}
/*파일업로드 버튼*/
#after_photo{
	text-align: left;
	display: none;
}
#modify_img{
	max-width: 70%; 
	height: auto; 
	margin: 0 120px;
}
/*디테일*/
#detail_Id_Date{
	text-align: right;
}
/*배경색*/
.back-color{
	background-color: #E8F0F2;
}
/*수정삭제취소버튼*/
.btn-style{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding:5px 10px;
	background:	#A2DBFA;
	color:white;
	border:none;
	border-radius:15%;
}

.btn-style-cancel, .search3{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding: 5px 10px;
	background:	#d1d1d1;
	color:white;
	border:none;
	border-radius:15%;
}
