@charset "UTF-8";

/*font-face*/
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*main*/
.container{
	padding: 100px 50px;
	font-family : 'NEXON Lv1 Gothic OTF Bold';
}

.tag{
	padding: 5px 20px;
	font-size : 20px;
}
.container p{
	font-family : 'NEXON Lv2 Gothic';
}

.intro{
	margin : 20px 0px;
	width: 100%;
	text-align: center;
}

.intro > button{
	font-family : 'NEXON Lv1 Gothic OTF Bold';
	background-color:#A2DBFA;
	color:white;
	padding: 5px 20px;
	width: 19%;
	border-radius: 5px 5px 0px 0px;
	border: 2px;
	outline: 0;
	display: inline-block;
}

#main_intro{
	font-family : 'NEXON Lv2 Gothic';
	width:95%;
	margin: 0px auto;
	padding: 20px;
	background-color: white;
	height: 120px;
	text-align: left;
	font-size : 15px;
	border: 2px solid #A2DBFA;
}