@charset "UTF-8";

/*community reply*/
/*reply list*/
.item{
	margin: 10px 0 10px 0;
}
#replyList{
	/*댓글 리스트 전체*/
	font-size: 13px;
}
#replyListContent{
	margin: 3px 0 10px 0;
	padding: 0;	
	clear: both;
}
#repltListId{
	float: left;
	margin: 0 5px 1px 0;
	font-weight: bold;
}
#repltListDate{
	float: left;
	margin: 5px 0 3px 0;
	font-size: 10px;
	color: gray;
}
.modify{
	background: none;
	border: none;
    color: gray;
    float: right;
	
}
#modify-choice-btn{
   border: none;
   float: right;
   color: gray;
}
.modify-btn, .delete-btn{
   margin-left:5px;
   padding:5px 10px;
   background:   #A2DBFA;
   color:white;
   border:none;
   border-radius:15%;
}
/*댓글 작성*/
#re_form{
	padding: 10px 2px;
	width: 100%;
	border: none;
}
#re_content{
	width: 99%;
	height: 65px;
	margin: 0;
	border: none;
	resize: none;
}
#re_first, #re_second{
	margin: 1px 9px 5px 10px;
	float: right;
}
.letter-count{
	font-size: 13px;
}
