@charset "UTF-8";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WONTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page-main{
	font-family : 'NEXON Lv1 Gothic OTF Bold';
	background-color: #f4f7f7;
}

.page-container{
	font-family: 'WONTitle';
	margin: 20px;
	padding: 100px 50px;
	overflow:hidden;
	height:auto;
}

.page-name{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
  	margin : 20px 0px;
  	padding: 5px 20px;
  	background-color:#A2DBFA;
  	text-align: center;
  	font-size: 20px;
  	color: white;
}
/*adoptRegisterForm*/
h3{
    font-family: 'NEXON Lv1 Gothic OTF Bold';
	text-align:center;
}

.info{
    font-family: 'WONTitle';
	font-size: 13px;
}

.btn{
    font-family: 'WONTitle';
	border: 0px;
	border-radius: 10px;
	padding: 8px;
}

.home{
    font-family: 'WONTitle';
	background-color: #38A2DB;
	color: #FFFFFF;
}

.register_form{
    font-family: 'WONTitle';
	width: 85%;
	margin:20px auto;
	padding:5px;
	border-top: 8px solid #F0B4B8;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}

.form-content{
    font-family: 'WONTitle';
	display: flex;
    align-items: center;
}

.form-content span{
    font-family: 'WONTitle';
	margin-right: 20px;
}

.form-content ul{
    font-family: 'WONTitle';
	display: inline-block;
	width: 100%;
	margin: 0;
    padding: 0;
}

.form-content ul li{
    font-family: 'WONTitle';
	width: 80%;
	margin: 0 auto;
	padding: 3px;
	margin-bottom: 5px; 
}

.info-title, .info-content{
	display: inline-block;
	text-align: center;
	padding: 3px;
	border-radius: 10px;
}

.form-content .info-title{
	background-color: #F6EAEF;
	width: 100px;
}

.form-content .info-content{
	background-color: #F0F0F0;
	width: 200px;
}

#adopt_register {
	border:none;
}

#adopt_intro{
	width:100%;
}

.register{
	background-color: #F0B4B8;
	color: #634B4C;
	font-weight: bold;
	width: 80%;
	margin: 20px 0px 10px 0px;
}

.cancel{
	background-color: #F0F0F0;
	color: #C9C9C9;
	width: 80%;
}

input.input-text{
    font-family: 'WONTitle';
	
}
    
textarea.text-text{
    font-family: 'WONTitle';
    width:'70%';
    resize:none;
    }

/*detailAdopt*/
.addr{
	display: flex;
	align-items: center;
	justify-content: center;
}

.approve{
	background-color: #38A2DB;
	color: #FFFFFF;
	padding: 10px;
}

.reject{
	background-color: #F0B4B8;
	color: #634B4C;
	padding: 10px;
}

.list{
	background-color: #F0F0F0;
	color: #C9C9C9;
	padding: 10px;
}

.detail .info-content{
	width: 60%;
}

.detail ul{
	text-align:center;
}


.intro-content{
	width: 95%;
	margin: 0 auto;
	background-color: #E8F0F2;
	overflow: hidden;
}

.reject-form{
	margin:20px auto;
	padding:5px;
	border-top: 8px solid #30A2DB;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}

.reject-form form{
	border: 0px;
	padding: 0px;
	width: 60%;
}

