@charset "UTF-8";
/* 공통 */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WONTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.btn-style{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding: 5px 10px;
	background:	#A2DBFA;
	color:white;
	border:none;
	border-radius:15%;
}

.btn-style-cancel{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding: 5px 10px;
	background:	#d1d1d1;
	color:white;
	border:none;
	border-radius:15%;
}

.btn-style-modify{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size:10pt;
	font-weight:bold;
	padding: 5px 10px;
	background:	#d1d1d1;
	color:white;
	border:none;
	border-radius:15%;
}


 h2.title {
 	font-family: 'NEXON Lv1 Gothic OTF Bold';
 	text-align:center;
 	font-size:20pt;
    margin: 20px;
    padding: 20px 0 0 0;
  }

/*PetList*/

.wrap-list{
	padding:100px 0;
	padding-bottom:50px;
 	width: 100%;
	background:#E8F0F2;
}
  
span#title-list{
  	font-family: 'NEXON Lv1 Gothic OTF Bold';
  	margin : 20px 0px;
 	text-align:center;
 	padding: 5px 20px;
 	margin-left:50px;
 	font-size:20px;
  	background-color:#A2DBFA;
    color:white;
  }
  
div.intro p{
	font-family: 'WONTitle';
	width:100%;
	padding-top:20px;
	padding-bottom:5px;
	margin-left:50px;
}

#container{
	font-family: 'WONTitle';
	background-color:#E8F0F2;
	padding: 10px;
}

.card{
	font-family: 'WONTitle';
	padding:10px;
	text-align:center;
}

#register-button{
	padding:0 10px 0 0;
	margin-bottom:5px;
	text-align:right;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.rounded-circle {
	width:200px;
	height:200px;
	border: 1;
	border-radius: 50%;
	object-fit: cover;
} 

form.search-form{
	width:100%;
	padding:0;
}

form.search-form ul{
	width:100%;
	list-style:none;
	padding:0;
	margin:0 auto;
	text-align:right;
}

form.search-form ul li{
	font-family: 'WONTitle';
	margin: 0 0 9px 0;
	padding:0;
	display:inline;
}

#search-form-li{
	margin:5px;
	padding:0;
	font-size:9pt;
}

.li-font{
	font-size:10pt;	
}

/*Pet Detail*/

.wrap {
	font-family: 'WONTitle';
	padding-bottom:50px;
 	width: 100%;
  	height: auto;
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
	background-color:#E8F0F2;
}

.detail-main-image {
    width:100%;
    height:auto;
}
  
 .detail-half-container {
 	display: flex;	
}

.detail-half {
 	 width: 50%;
 	 margin: 0 2.5%;
 	 position: center;
 	 display:flex;
 	align-items:center;
}

.details-half--border {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255,255,255,0.9);
}

.pet-details {
	width:100%;
	height:auto;
	padding: 30px;
}

.detail-title {
  	font-family: 'NEXON Lv1 Gothic OTF Bold';
  text-align: top;
  font-size: 20px;
}

.detail-description-text {
  text-align: center;
}

.detail-description {
	display: flex;
	flex-direction: column;
}

.detail-sub {
  	width: 100%;
	padding: 10px 0 20px 0;
	flex: 1;
	align-self: flex-end;
}

.detail-content {
  border-top: 1px solid #797778;
  overflow: hidden;
  width: 100%;
  padding: 20px 0 100px 0;
  box-sizing: border-box;
}

.buttons{
	text-align:right;
}


/* register, updatePet */
.form-css{
    font-family: 'WONTitle';
	padding-top:20px;
	padding-bottom:40px;
	border:none;
	text-align:center;
	background:white;
}

.form-content li{
	width:80%;
	height:auto;
	padding:5px;
	line-height:1;
	display:flex;
}

.form-content label{
	width:30%;
	display:block;
	margin: 0 10px;
	text-align:center;
	align-items:center;
	padding:5px;	
	border-radius:1em;
	background:#A2DBFA;
	border: 0.1em solid #A2DBFA;
	color:white;
}

.form-content label#detail{
	margin: 25px 10px;
	text-align:center;
		
}

.text-li{
    font-family: 'WONTitle';
}

.text-text{
	resize:none;
    font-family: 'WONTitle';
}

#photo-modify-label{
	text-align:center;
	margin: 35px 10px;
}

.form-content #photo-choice-btn{
	margin:0 0 0 150px;
	text-align:center;
}

.form-button{
	padding-top:10px;
}

.form-content li input[type=button]#photo_btn{
	margin:0 150px;
}