@charset "UTF-8";

/*font-face*/
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'WONTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


input, select{
	font-family: 'WONTitle';
}

.page-main{
	font-family : 'NEXON Lv1 Gothic OTF Bold';
	background-color: #f4f7f7;
}

.page-container{
	font-family: 'WONTitle';
	margin: 20px;
	padding: 100px 50px;
	overflow:hidden;
	height:auto;
}

.page-name{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
  	margin : 20px 0px;
  	padding: 5px 20px;
  	background-color:#A2DBFA;
  	text-align: center;
  	font-size: 20px;
  	color: white;
}

.list-container{
	padding: 50px 20px;
}

.top{
	padding: 2px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-display{
	border: 1px solid #dae9f4;
	background-color: #dae9f4;
	font-weight: bold;
  	font-size:18px;
	color: #053742;
}

table {
	width: 100%;
    border-collapse: separate;
    border: 0px;
    margin-bottom: 30px;
}


table th, table td{
	border: 0px;
    padding: 10px;
}

th{
  padding: 20px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #053742;
}

td{
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

.tb-header{
	background-color: #dae9f4;
}

.tb-content{
  	background-color: #F0F8FF;
}

.tb-container{
	width : 100%;
	overflow: auto;
}
.tb-container table{
	white-space:nowrap;
	border-collapse:collapse;
}

/* 스크롤바 설정*/
.tb-container::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대 설정*/
.tb-container::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #A2DBFA;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;    
}

/* 스크롤바 뒷 배경 설정*/
.tb-container::-webkit-scrollbar-track{
    background-color: #dae9f4;
}

.align-center{
	margin : 20px 0px;
}