@charset "UTF-8";
/*font*/
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WONTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* detail */
.container{
	padding:50px;
}

.box{
    font-family: 'WONTitle';
	background:white;
	padding:10px;
	margin-bottom:50px;
	line-height:1.5;
}

h2.title{
    font-family: 'NEXON Lv1 Gothic OTF Bold';
	text-align:center;
}

p{
    font-family: 'WONTitle';
	padding:20px 40px;
	
}

#btns{
    font-family: 'NEXON Lv1 Gothic OTF Bold';
	padding-right:10px;
}

.btn-style{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding:5px 10px;
	background:	#A2DBFA;
	color:white;
	border:none;
	border-radius:15%;
}

.btn-style-cancel{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding: 5px 10px;
	background:	#d1d1d1;
	color:white;
	border:none;
	border-radius:15%;
}
