@charset "UTF-8";

.btn-style{
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding: 5px 10px;
	background:	#A2DBFA;
	color:white;
	border:none;
	border-radius:15%;
}

.btn-style-cancel{
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding: 5px 10px;
	background:	#d1d1d1;
	color:white;
	border:none;
	border-radius:15%;
}

.btn-style-modify{
	font-size:10pt;
	font-weight:bold;
	padding: 5px 10px;
	background:	#d1d1d1;
	color:white;
	border:none;
	border-radius:15%;
}

/*PetList*/

 h2.title {
 	text-align:center;
 	font-size:20pt;
    margin: 20px;
    padding: 20px 0 0 0;
  }

#container{
	padding:10px;
}

.card{
	padding:10px;
	text-align:center;
}

#register-button{
	padding:0 10px 0 0;
	text-align:right;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.rounded-circle {
	width:200px;
	height:200px;
	border: 1;
	border-radius: 50%;
	object-fit: cover;
} 


/*Pet Detail*/

.wrap-list{
	padding-top:20px;
	padding-bottom:50px;
 	width: 100%;
	background:#E8F0F2;
}

.wrap {
	padding-bottom:50px;
 	width: 100%;
  	height: auto;
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
	background-color:#E8F0F2;
}

.detail-main-image {
    width:100%;
    height:auto;
}
  
 .detail-half-container {
 	display: flex;	
}

.detail-half {
 	 width: 50%;
 	 margin: 0 2.5%;
 	 position: center;
 	 display:flex;
 	align-items:center;
}

.details-half--border {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255,255,255,0.9);
}

.pet-details {
	width:100%;
	height:auto;
	padding: 30px;
}

.detail-title {
  text-align: top;
  font-size: 20px;
}

.detail-description-text {
  text-align: center;
}

.detail-description {
	display: flex;
	flex-direction: column;
}

.detail-sub {
  	width: 100%;
	padding: 10px 0 20px 0;
	flex: 1;
	align-self: flex-end;
}

.detail-content {
  border-top: 1px solid #797778;
  overflow: hidden;
  width: 100%;
  padding: 20px 0 100px 0;
  box-sizing: border-box;
}

.buttons{
	text-align:right;
}


/* register, updatePet */
.form-css{
	padding-top:20px;
	padding-bottom:40px;
	border:none;
	text-align:center;
	background:white;
}

.form-content li{
	width:80%;
	height:auto;
	padding:5px;
	line-height:1;
	display:flex;
}

.form-content label{
	width:30%;
	display:block;
	margin: 0 10px;
	text-align:center;
	align-items:center;
	padding:5px;	
	border-radius:1em;
	background:#A2DBFA;
	border: 0.1em solid #A2DBFA;
	color:white;
}

.form-content label#detail{
	margin: 25px 10px;
	text-align:center;
	
}

#photo-modify-label{
	text-align:center;
	margin: 35px 10px;
}

.form-content #photo-choice-btn{
	margin:0 0 0 150px;
	text-align:center;
}

.form-button{
	padding-top:10px;
}

.form-content li input[type=button]#photo_btn{
	margin:0 150px;
}