@charset "UTF-8";


@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container{
	padding: 0;
	background-color:white;
	font-family : 'NEXON Lv1 Gothic OTF Bold';
}

#title{
	background-color: #A2DBFA;
	color: white;
	padding: 0px 20px;
	font-size: 20px;
}

.tag{
	font-family: 'NEXON Lv2 Gothic';
	margin: 13px 0px 5px 0px;
	font-size: 17px;
	color:#39A2DB;
}
/*리스트 글 제목 및 내용*/
#afterDetail_title, #afterDetail_content{
	color: black; 
	text-decoration: none;
}
#detail_card{
	padding: 0 10px 0 10px;
	background-color:none;
	border: 1px solid none;
	overflow: hidden;
}
/*리스트 이미지*/
.afterpet-img{
	margin: 5px 5px;
	width:235px;
	height:235px;
	border: 1;
	border-radius: 5%;
	object-fit: cover;
}
#content{
	font-size: 15px;
	font-family: 'NEXON Lv2 Gothic';
}
#detailTitle{
	margin: 0;
}
#detailDate{
	text-align: right;
	margin-right: 10px;
}

#after_title{
	width: 750px;
	margin-top: 5px;
	border: none;
}
#modify_form, #write_form{
	width: 800px;
}

#after_content{
	width: 750px;
	border: none; 
	resize: none;
}
#ul_border{
	margin: 0;
	padding: 0;
}
/*파일업로드 버튼*/
#after_photo{
	text-align: left;
	display: none;
}
#modify_img{
	max-width: 70%; 
	height: auto; 
	margin: 0 120px;
}
/*리스트*/
.card{
	margin: 20px 0;
	background-color: #f5f5f5;
}