@charset "UTF-8";

/*font-face*/
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WONTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*title*/

.page-main{
	font-family : 'NEXON Lv1 Gothic OTF Bold';
}

.container{
	font-family: 'WONTitle';
	margin: 20px;
	padding: 100px 50px;
	overflow:hidden;
	height:auto;
}

.list-container{
	padding: 50px 20px;
}

#title{
  font-family: 'NEXON Lv1 Gothic OTF Bold';
  margin : 20px 0px;
  padding: 5px 20px;
  background-color:#A2DBFA;
  text-align: center;
  font-size: 20px;
  color: white;
}

.button{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	background-color : #faa2bb;
	color: white;
	width: 70px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
}

#comReply{
	font-size: 13px;
	border: 1px solid white;
	border-radius: 50%;
	padding: 0 4px;
	margin: 3px;	
}

/*count = 0*/

.result-display{
    font-family: 'WONTitle';
	color : white;
	border-radius : 5px;
	border : 1px solid #A2DBFA;
	background-color: #A2DBFA;	
}

/* count != 0*/

table{
	border-collapse : separate;
	border-color : #E8F0F2;
	border-radius: 5px;
	background-color:#E8F0F2;
	color : white;
}

.th{
	border-radius: 5px;
	border-style : none;
	background-color : #A2DBFA;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}

.td{
    font-family: 'WONTitle';
	border-radius: 5px;
	border-style : none;
	background-color : #c8dee3;
	text-align: center;
	color : #787878;
}

#num{
	width : 10%;
}
#tit{
	width : 25%;
}
#member{
	width : 10%;
}
#date{
	width : 15%;
}
#see{
	width : 10%;
}

a#title-css:link, a#title-css:visited{
	color:#787878;
}

a#title-css:hover, a#title-css:active{
	color:#86b8c4;
}

/* 검색창 */

.btn-style-cancel{
    font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size:11pt;
	font-weight:bold;
	margin-left:5px;
	padding: 5px 10px;
	background:	#d1d1d1;
	color:white;
	border:none;
	border-radius:15%;
}


form.search-form{
    font-family: 'WONTitle';
	width:100%;
	text-align:center;
	justify-content:center;
}

form.search-form ul{
    font-family: 'WONTitle';
	width:300px;
	list-style:none;
	padding:0;
	margin:0 auto;
}

form.search-form ul li{
    font-family: 'WONTitle';
	margin: 0 0 9px 0;
	padding:0;
	display:inline;
}
#search-form-li{
    font-family: 'WONTitle';
	margin:5px;
	padding:0;
	font-size:9pt;
}

.li-font{
    font-family: 'WONTitle';
	font-size:10pt;	
}

select{
   font-family: 'WONTitle';
}