@charset "UTF-8";

/*PetList*/


div.title{
	padding:20px;
	text-align:center;
	
}

#container{
	padding:10px;
}

.card{
	padding:10px;
	text-align:center;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
	background-color:#d1eef5;
}

.rounded-circle {
	width:200px;
	height:200px;
	border: 1;
	border-radius: 50%;
	object-fit: cover;
} 

.detail-img{
	width:50%;
	height:auto;
}

/*Pet Detail*/

#wrap {
	margin:10px;
	padding:20px;
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
	background-color:#E8F0F2;
}

